/* CSS Components */
@import url("components/Button.css");
@import url("components/Navigation.css");
@import url("components/HeroSection.css");
@import url("components/BannerSection.css");
@import url("components/ServiceSection.css");
@import url("components/StatsSection.css");

/* Base Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #0d0d0d;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}
